/*******************************
 Universal Css
 *********************************/

*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

p,span,h1,h2,h3,h4,h5,h6,input,a, small{
    font-family: 'Poppins', sans-serif;
}

/*******************************
header Section Css
*********************************/
header{
    position:absolute;
    width: 100%;
    background: rgba(0,0,0,0.10);
}
.nav-item{
    font-size: 24px;
    padding: 0px 30px;
}
.nav-item .nav-link:hover{
    color: #00bec9 !important;
}
.form-control {
    padding: .80rem .75rem !important;
    color: #ffffff !important;
    background-color: #43a243 !important;
    border: 1px solid #43a243 !important;
    border-radius: 0px !important;
}
.form-control::placeholder{
    color: white;
}
.input-group-text {
    padding: .375rem 1rem !important;
    text-align: center;
    white-space: nowrap;
    background-color: #00bec9 !important;
    border: 1px solid #00bec9 !important;
    border-radius: none !important;
    margin-left: -2px !important;
}
.input-group-text a{
    color: white;
}
/*******************************
Banner Section Css
*********************************/
.banner{
    width: 100%;
    background-color: #43a243;
    padding: 100px 0px;
}
.banner .banner-detail h1{
    font-family: 'Poppins', sans-serif;
    font-size: 66.67px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 70px 0px 0px 0px;
}
.banner p{
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 20px 0px;
}
.button-group .btn-primary{
    background-color: #00bec9;
    border-color: #00bec9 !important;
}

/*******************************
service-1 Section Css
*********************************/
.service-1{
    width: 100%;
    padding: 110px 0px;
}

.service-1 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 70px 0px 0px 0px;
}
.service-1 p{
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 20px 0px;
}
.service-1 .btn-danger{
    background-color:#43a243 !important;
    border-color: #43a243 !important;
}
.service-1 .video-img{
    position: relative;
}
.service-1 .video-img .shadow{
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    left: 0;
    background-color: rgb(252, 195, 2, 0.4);
}
.service-1 .box{
    height: 200px;
    padding: 200px;
    position: absolute;
    bottom: -30px;
    left: -30px;
    background: #fcc302;
    z-index: -1;
}
.service-1 .video-icon i{
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: rgb(255, 255, 255);
    color: #fcc302;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    left: 40%;
    top: 40%;
}

/*******************************
services Section Css
*********************************/
.service-2{
    width: 100%;
    background: #43a243;
    text-align: center;
    padding-bottom: 70px;
}
.service-2 h1{
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 70px 0px 0px 0px;
}
.service-2 p{
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 20px 0px;
}
.service-2 .details{
    padding: 0px 334px;
}
.service-2 .service{
    padding-top:40px;
}
.service-2 .service h2{
    font-size: 38px;
    font-weight: 600;
    padding: 35px 0px 5px 0px;
    color: rgb(255, 255, 255) !important;
}
.service-2 .service p{
    font-size: 20px;
    font-weight: 200;
    padding: 0 40px;
}
/*******************************
service-3 Section Css
*********************************/
.service-3{
    width: 100%;
    padding: 110px 0px;
    text-align: right;
}
.service-3 h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 70px 0px 0px 0px;
}
.service-3 p{
    font-size: 30px;
    color: rgb(0, 0, 0);
    padding: 20px 0px;
}
.service-3 .btn-danger{
    background-color:#43a243 !important;
    border-color: #43a243!important;
}
.service-3 .video-img{
    position: relative;
}
.shadow{
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    left:20px;
    background-color: rgb(252, 195, 2, 0.4);
}
.service-3 .box{
    height: 200px;
    padding: 200px;
    position: absolute;
    bottom: -30px;
    right: -30px;
    background: #fcc302;
    z-index: -1;
}
.service-3 .video-icon i{
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: rgb(255, 255, 255);
    color: #fcc302;
    line-height: 70px;
    text-align: center;
    border-radius: 100%;
    left: 40%;
    top: 40%;
}
/*******************************
Store Section Css
*********************************/
.store{
    width: 100%;
    background: #43a243;
    text-align: center;
    padding-bottom: 70px;
}
.store h1{
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 70px 0px 0px 0px;
}
.store p{
    font-size: 30px;
    color: rgb(255, 255, 255);
    padding: 20px 0px;
}
.store .details{
    padding: 0px 334px;
}
.store .store-item{
    padding-top:40px;
}
.store .store-item p{
    font-size: 38px;
    font-weight: 600;
}
.store .store-item p del{
    padding: 0px 20px;
}
.store .store-item .btn-primary{
    background-color: #00bec9;
    border-color: #00bec9 !important;
    border-radius: 50px;
    padding: 0px 20px 5px 20px !important;
}
/*******************************
footer Section Css
*********************************/
footer{
    width: 100%;
    background: #343434;
    padding: 80px 0px;
}
footer h4{
    font-size: 35px;
    color: white;
    font-weight: bold;
}
footer p{
    font-size: 20px;
    color: white;
}

footer ul{
    width: 100%;
    padding-inline-start: 0px !important;

}
footer ul li{
    list-style: none;
    padding-top: 8px ;

}
footer a{
    font-size: 20px;
    color: white;
    text-align: left;

}
footer a:hover{
    color: #00bec9;
}
footer .contact{
    text-align: right;
}
footer .input-group i{
    color: white;
}
footer .form-control {
    padding: .80rem .75rem !important;
    color: #ffffff !important;
    background-color: #fcc302 !important;
    border: 0px solid #fcc302 !important;
    border-radius: 0px !important;
    margin-left: 100px;
}

footer .contact ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}
footer .contact ul li a i{
    color: #343434;
    background-color: white;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 40px;
}
footer .contact ul li a i:hover{
    color: #fcc302;
}

/*******************************
Contactanos
*********************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: linear-gradient(90deg, #24252A 0%,#24252A 30% ,#30ae58 10%,#035c37 20%,#314637 30%,#213923 40%, #136426 100%);
}
.contactanos{
    position: relative;
    width: 100%;
    padding: 40px 100px;
}
.contactanos .title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.contactanos .title h2{
    color: #fff;
    font-size: 500;
}

.form{
    grid-area: form;
}
.info{
   grid-area: info;
}
.map{
   grid-area: map;
}
.contact{
    padding: 40px;
    background: #fff;
}
.box{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 5fr 4fr;
    grid-template-areas: "form info" "form map";
    grid-gap: 20px;
}

.contact h3{
    color:136426#125C7D;
}


/*--------------------------------------------------------FORMULARIO--------------------------------------------------------*/
 .formBox{
     position: relative;
     width: 100%;
 }

 .formBox .row50{
     display: flex;
     gap: 20px;
 }

 .inputBox{
     display: flex;
     flex-direction: column;
     margin-bottom: 10px;
     width: 50%;
 }

 .formBox .row100 .inputBox{
    width: 100%;
 }
 .inputBox span{
     color:rgb(50, 173, 117) ;
     margin-top: 5px;
     margin-bottom: 5px;
     font-weight: 500;
 }

 .inputBox input{
    padding: 10px;
    font-size: 1em;
    outline: none;
    border: 1px solid #3333;
 }
 .inputBox textarea{
     padding: 10px;
     font-size: 1.1em;
     outline: none;
     border-radius: 1px solid #333;
     resize: none;
     min-height: 180px;
     margin-bottom: 10px;
 }
 .inputBox input[type="submit"]
 {
     color:#fff;
     background: #136426;
     border: none;
     font-size: 1.1em;
     max-width: 120px;
     font-weight: 500;
     cursor: pointer;
     padding: 14px 15px;
 }

 .inputBox::placeholder{
     color: #999;
 }
/*---------------------------------------------------------------REDES SOCIALES-----------------------------------------------------------*/
.info{
    background:#0a8753;
}
.info h3{
    color: #fff;
}
.info .infoBox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.info .infoBox div span{
    min-width: 40px;
    height: 40px;
    color: #fff;
    background:rgba(60, 57, 117, 0.467);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    border-radius: 50%;
    margin-right: 15px;
}
.info .infoBox div p {
    color: #fff;
    font-size: 1em;
    margin-top: 1em;
}
.info .infoBox div a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}
.sci{
    margin-top: 40px;
    display: flex;
}
.sci li{
    list-style: none;
    margin-right: 15px;
}
.sci li a{
    color: #fff;
    font-size: 2em;
    color: #ccc;
}
.sci li a:hover{
    color: #fff;
}

.map{
    padding: 0;
}
.map iframe{
    height: 100%;
    width: 100%;
}

